<div class="col-xs-12 location-info">
  <%= image_tag 'locate.png', class: 'locate-icon' %>
  <span><%= @real_time_site['name'] %></span>
  <span class="datetime pull-right"><%= @real_time_site['datetime'] %></span>
</div>
<div class="row real-time-content">
  <div class="col-xs-4">
    <div class="real-tempe text-center"><%= @real_time_site['tempe'] %>°</div>
    <div class="forecast-tempe text-center">22~26℃</div>
  </div>
  <div class="col-xs-8 right-container">
    <div class="col-xs-6 divide">
      <div class="col-xs-12 right-content"><div class="col-xs-6 text-left">湿度</div><div class="col-xs-6 text-right"><%= @real_time_site['humi'] %>%</div></div>
      <div class="col-xs-12 right-content"><div class="col-xs-6 text-left">西北风</div><div class="col-xs-6 text-right">2级</div></div>
    </div>
    <div class="col-xs-6">
      <div class="col-xs-12 right-content"><div class="col-xs-6 text-left">能见度</div><div class="col-xs-6 text-right"><%= @real_time_site['visibility'] %>m</div></div>
      <div class="col-xs-12 right-content"><div class="col-xs-6 text-left">气压</div><div class="col-xs-6 text-right"><%= @real_time_site['pressure'] %>Pa</div></div>
    </div>
  </div>
</div>
