<% content_for :title do %>
  天气预报
<% end %>
<div class="main-top-container">
  <div class="row main-top-container-1">
    <div class="col-xs-7 location-info">
      <%= image_tag 'locate.png', class: 'locate-icon' %>
      <span><%= @real_time_site['name'] %></span>
    </div>
    <div class="col-xs-5 date-time-info text-right">
      <%= @real_time_site['datetime'] %>
    </div>
  </div>

  <div class="row main-top-container-2">
    <div class="col-xs-7 container-left">
      <div class="real-time-tempe">
        <%= @real_time_site['tempe'] %>°
      </div>
      <div class="forecast-tempe">
        <p class="tempe"><%= @weather_forecasts.first['tempe'] %></p>
        <p class="date-time"><%= chinese_year %></p>
      </div>
    </div>
    <div class="col-xs-5 container-right">
      <div class="auto-station-info text-left">
        <div class="col-xs-12">能见度 <%= @real_time_site['visibility'] %>km</div>
        <div class="col-xs-12">湿&nbsp;&nbsp;&nbsp;度 <%= @real_time_site['humi'] %>%</div>
        <div class="col-xs-12">东南风 3～4级</div>
        <div class="col-xs-12">气&nbsp;&nbsp;&nbsp;压 <%= @real_time_site['pressure'] %>Pa</div>
        <div class="col-xs-12"><%= @real_time_aqi['aqi'] %> <span class="air-shadeguide <%= translate_level(@real_time_aqi['level'])%>"><%= @real_time_aqi['level'] %></span></div>
      </div>
    </div>
  </div>
  <div class="row main-top-container-3">
    <% @warnings.each do |warning| %>
      <%= image_tag "warnings/#{warning['icon']}", class: 'warning-icon' %>
    <% end %>
  </div>
  <div class="row main-top-container-4">
    <%= @poem.content %> --<%= @poem.solar %>
  </div>
</div>
<div id="bottom-container" class="main-bottom-container">
  <div id="scroller" class="forecast-container">
    <ul>
      <% @weather_forecasts.each do |item| %>
        <li class="item">
          <p class="week"><%= t(item['week']) %></p>
          <p class="date-time"><%= item['datatime'] %></p>
          <p class="weather"><%= item['weather'] %></p>
          <%= image_tag "small_icon/#{item['first_icon']}" %>
          <p class="tempe"><%= item['tempe'] %></p>
          <%= image_tag "small_icon/#{item['second_icon']}" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="scroll-marker">
    <i class="iconfont icon-xiaoyuan iconfont1 selected"></i><i class="iconfont icon-xiaoyuan iconfont2"></i>
  </div>
</div>
<script>
  var myScroll;
  var _window_width = $(window).width();
  var _item_width = (_window_width / 5) - 6;
  $("#scroller").width((_item_width * <%= @weather_forecasts_size %>) + <%= @weather_forecasts_size * 7 %>);
  $("#scroller li").width(_item_width);
  myScroll = new IScroll('#bottom-container', { scrollX: true, scrollY: false, mouseWheel: true });

  myScroll.on('scrollEnd', updatePosition);
  function updatePosition() {
    if (_window_width < Math.abs(this.x)) {
      $('.iconfont1').removeClass('selected');
      $('.iconfont2').addClass('selected');
    }else{
      $('.iconfont1').addClass('selected');
      $('.iconfont2').removeClass('selected');
    }
  }
  // document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
</script>
