<% content_for :title do %>
  雷达卫星
<% end %>
<div class="row">
  <ul class="tab">
    <li role="presentation" class="col-xs-6 active"><a href="#radar" aria-controls="radar" role="tab" data-toggle="tab"><i class="iconfont icon-leida"></i>雷达回波</a></li>
    <li role="presentation" class="col-xs-6"><a href="#satelli" aria-controls="satelli" role="tab" data-toggle="tab"><i class="iconfont icon-weixing"></i>卫星云图</a></li>  
  </ul>
</div>

<div class="row tab-content">
  <!-- 雷达区 -->
  <div role="tabpanel" class="tab-pane active" id="radar">
    <div class="col-xs-10 col-xs-offset-1 info">
      <div class="col-xs-7 date-time">更新时间: <%= @radar_images.last[:datetime].to_datetime.strftime("%F %H:%M") %></div>
      <div class="col-xs-5 sub-info text-right">红点代表当前位置</div>
    </div>
    <div id="radar-container" class="col-xs-12">
      <div id="img_time" class="img_time"></div>
      <div id="radar-img-content">
        <div id="radar-img-scrool">
          <%= image_tag @radar_images.last['url'] , id:"radar-image" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 radar-bitmap">
      <%= image_tag "radar_bitmap.png" %>
    </div>
    <ul class="radar-time-line time-line">
      <% @radar_images.each_with_index do |item, idx| %>
        <% if idx == 9 %>
          <li data-cc="<%= item[:datetime].to_datetime.strftime('%H:%M') %>" pic-time="<%= item[:datetime].to_datetime.strftime('%F %H:%M:%S') %>" class="active time radar<%=idx%>" data-url="../images/<%= item[:url] %>"></li>
        <% else %>
          <li data-cc="<%= item[:datetime].to_datetime.strftime('%H:%M') %>" pic-time="<%= item[:datetime].to_datetime.strftime('%F %H:%M:%S') %>" class="time radar<%=idx%>" data-url="../images/<%= item[:url] %>"><%= item[:datetime].to_datetime.strftime('%H:%M') %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  
  <!-- 云图 -->
  <div role="tabpanel" class="tab-pane" id="satelli">
    <div class="col-xs-10 col-xs-offset-1 info">
      <div class="col-xs-7 date-time">更新时间: <%= @cloud_img.last['datetime'].to_datetime.strftime('%F %H:%M') %></div>
    </div>
    <div id="cloud-container" class="col-xs-12">
      <div id="cloud">
        <%= image_tag @cloud_img.last['url'], id:"cloud-image" %>
      </div>
    </div>
    <ul class="cloud-time-line time-line">
      <% @cloud_img.each_with_index do |item, idx| %>
        <% if idx == 9 %>
          <li data-cc="<%= item['datetime'].to_datetime.strftime('%H:%M') %>" class="active time cloud<%=idx%>" data-url="<%= item['url'] %>"></li>
        <% else %>
          <li data-cc="<%= item['datetime'].to_datetime.strftime('%H:%M') %>" class="time cloud<%=idx%>" data-url="<%= item['url'] %>"><%= item['datetime'].to_datetime.strftime('%H:%M') %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<script>
  $(function(){
    var run_thread;
    var $is_run = false;
    var height = $(window).width()

    $_target = $('.radar-time-line').find('li.radar9');
    $('#radar-image').attr('src', $_target.attr('data-url'));

    var node=document.createTextNode("这是新段落。");
    $('#radar-image').attr('src', $_target.attr('data-url'));

    $('.radar-time-line').on('click', 'li', function(evt){
      if ($is_run) return;
      var $_target = $(evt.target);
      if ($_target.hasClass('active')) {
        $is_run = true;
        $_target.html($_target.attr('data-cc')).removeClass('active');
        var i = 0;
        var $_previous;
        run_thread = setInterval(function() {
          if (i == 0) {
            $_previous = $('.radar-time-line').find('li.radar9');
          }else {
            $_previous = $('.radar-time-line').find('li.radar'+(i-1));
          }
          $_target = $('.radar-time-line').find('li.radar'+i);
          $_previous.html($_previous.attr('data-cc')).removeClass('stop');
          $('.radar-time-line').find('li.radar'+i).html('').addClass('stop');
          $('#radar-image').attr('src', $_target.attr('data-url'));
          document.getElementById('img_time').innerHTML=$_target.attr('pic-time');
          (i >= 9) ? stop_radar($_target) : i++;
        }, 600);
      }else {
        $('#radar-image').attr('src', $_target.attr('data-url'));
        document.getElementById('img_time').innerHTML=$_target.attr('pic-time');
        $('.radar-time-line').find('li').each(function(index, el) {
          $(el).html($(el).attr('data-cc')).removeClass('active');
        });
        $_target.html('').addClass('active');
      }
    });

    $('#radar-image').css({
      "width":height*4/3,
      "height":height
    });

    $('#cloud-image').css({
      "width":height,
      "height":height*3/4
    });

    $('.cloud-time-line').on('click', 'li', function(evt){
      if ($is_run) return;
      var $_target = $(evt.target);

      if ($_target.hasClass('active')) {
        $is_run = true;
        $_target.html($_target.attr('data-cc')).removeClass('active');
        var i = 0;
        var $_previous;
        run_thread = setInterval(function() {
          if (i == 0) {
            $_previous = $('.cloud-time-line').find('li.cloud9');
          }else {
            $_previous = $('.cloud-time-line').find('li.cloud'+(i-1));
          }
          $_target = $('.cloud-time-line').find('li.cloud'+i);
          $_previous.html($_previous.attr('data-cc')).removeClass('stop');
          $('.cloud-time-line').find('li.cloud'+i).html('').addClass('stop');
          $('#cloud img').attr('src', $_target.attr('data-url'));
          (i >= 9) ? stop_radar($_target) : i++;
        }, 600);
      }else {
        $('#cloud img').attr('src', $_target.attr('data-url'));
        $('.cloud-time-line').find('li').each(function(index, el) {
          $(el).html($(el).attr('data-cc')).removeClass('active');
        });
        $_target.html('').addClass('active');
      }
    });

    function stop_radar(el) {
      clearInterval(run_thread);
      el.removeClass('stop').addClass('active');
      $is_run = false;
    }

    $('#radar-img-scrool').panzoom({
      startTransform: 'scale(1)',
      increment: 1,
      minScale: 1,
      contain: 'automatic'
    });

    $('#cloud-image').panzoom({
      startTransform: 'scale(1)',
      increment: 1,
      minScale: 1,
      contain: 'automatic'
    });
    
    $("ul.tab").on("click", "li", function(){
      clearInterval(run_thread);
      $is_run = false;
    });
  });
</script>
