<div class="city-tab-bar clearfix">
  <ul class="row tab">
    <a href="#dem-tempe" aria-controls="dem-tempe" role="tab" data-toggle="tab">
      <li role="presentation" page='tempe' class="active">温度</li>
    </a>
    <a href="#dem-rain" aria-controls="dem-rain" role="tab" data-toggle="tab">
      <li role="presentation" page='rain'>雨量</li>
    </a>
    <a href="#dem-air" aria-controls="dem-air" role="tab" data-toggle="tab">
      <li role="presentation" page='air'>气压</li>
    </a>
    <a href="#dem-vis" aria-controls="dem-vis" role="tab" data-toggle="tab">
      <li role="presentation" page='vis'>能见度</li>
    </a>
    <a href="#dem-wind" aria-controls="dem-wind" role="tab" data-toggle="tab">
      <li role="presentation" page='wind'>湿度、风</li>
    </a>
  </ul>
</div>

<div class="row tab-content sub-content">
  <div role="tabpanel" class="tab-pane sub-pane col-xs-12 active" id="dem-tempe">
    <img src="<%= @dems['tempe'].last['file'] %>" alt="">
  </div>
  <div role="tabpanel" class="tab-pane sub-pane col-xs-12" id="dem-rain">
    <img src="<%= @dems['rain'].last['file'] %>" alt="">
  </div>
  <div role="tabpanel" class="tab-pane sub-pane col-xs-12" id="dem-air">
    <img src="<%= @dems['air'].last['file'] %>" alt="">
  </div>
  <div role="tabpanel" class="tab-pane sub-pane col-xs-12" id="dem-vis">
    <img src="<%= @dems['vis'].last['file'] %>" alt="">
  </div>
  <div role="tabpanel" class="tab-pane sub-pane col-xs-12" id="dem-wind">
    <img src="<%= @dems['wind'].last['file'] %>" alt="">
  </div>
</div>

<div class="time-line-container">
  <div class="player-btn-container">
    <div class="player-btn">
      <i class="iconfont icon-bofang"></i>  
    </div>
  </div>
  <ul class="time-line">
    <% @dems['tempe'].each do |item| %>
      <li data-type='<%= item['file'] %>'><%= item['datetime'].split(' ')[-1] %></li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  // 定时任务
  var run_thread;
  // 当前Tab
  var now_target = 'tempe';
  // 播放按钮
  var player_btn = $(".player-btn-container");
  // 播放长度
  var count = $("ul.time-line").children().length;
    // 播放状态
  var player_state = count - 1;

  // 切换tab事件
  $("#city .city-tab-bar").on('click', 'li', function(){
    clearInterval(run_thread);
    player_state = count - 1;
    clear_selected();
    $(this).addClass('active');
    // 当前tab类别 
    now_target = $(this).attr('page');
    build_player();
  });

  // 播放按钮点击事件
  $(".player-btn").on('click', function() {
    clearInterval(run_thread);
    var _btn_icon = $(this).find('i');
    if (_btn_icon.hasClass('icon-bofang')) {
      // 定时任务
      run_thread = setInterval(function() {
        $("#dem-"+now_target + ' > img').attr('src', $("ul.time-line > li:eq("+player_state+")").attr('data-type'));
        player_state++;
        // 播放完毕，重新播放
        if (player_state == count - 1) {
          clearInterval(run_thread);
          _btn_icon.removeClass('icon-zanting').addClass('icon-bofang');
        } else if (player_state > count - 1) {
          player_state = 0;
        }
        // 移动播放按钮
        player_btn.css("left", player_state*100/count+"%");
      }, 1000);
      // 显示暂停按钮
      _btn_icon.removeClass('icon-bofang').addClass('icon-zanting');  
    } else {
      _btn_icon.removeClass('icon-zanting').addClass('icon-bofang'); 
    }
  });

  // 构建播放器
  function build_player() {
    // 播放按钮
    player_btn.css("left", player_state*100/count+"%");
    $('.player-btn').find('i').removeClass('icon-zanting').addClass('icon-bofang');
    // 播放轴时间线
    var content = "";
    if (now_target == 'tempe') {
      <% @dems['tempe'].each do |item| %>
        content += "<li data-type='<%= item['file'] %>'><%= item['datetime'].split(' ')[-1] %></li>"
      <% end %>
    } else if (now_target == 'rain') {
      <% @dems['rain'].each do |item| %>
        content += "<li data-type='<%= item['file'] %>'><%= item['datetime'].split(' ')[-1] %></li>"
      <% end %>
    } else if (now_target == 'air') {
      <% @dems['air'].each do |item| %>
        content += "<li data-type='<%= item['file'] %>'><%= item['datetime'].split(' ')[-1] %></li>"
      <% end %>
    } else if (now_target == 'vis') {
      <% @dems['vis'].each do |item| %>
        content += "<li data-type='<%= item['file'] %>'><%= item['datetime'].split(' ')[-1] %></li>"
      <% end %>
    } else if (now_target == 'wind') {
      <% @dems['wind'].each do |item| %>
        content += "<li data-type='<%= item['file'] %>'><%= item['datetime'].split(' ')[-1] %></li>"
      <% end %>
    }
    $('ul.time-line').empty();
    $('ul.time-line').append(content);
  }

  // 重置tab选择状态
  function clear_selected() {
    $("#city > .city-tab-bar > ul > a").children('li').each(function(index, el) {
      $(el).removeClass('active'); 
    });
  }
</script>
