<% content_for :title do %>
  气象要素
<% end %>
<div class="row top-container">
  <%= render 'share/topper' %>
</div>
<div class="row bottom-container">
  <%= render 'bottom_bar' %>
  <div class="help_btn">
    <div id="help_btn">帮助</div>
  </div>
  <div class="row tab-content main-content">
    <div role="tabpanel" class="tab-pane main-pane col-xs-12 active" id="tempe">
      <table id="tempe_table" class="table table-hover table-striped table-condensed table-fixed-header" role="grid">
        <thead class="header">
          <tr>
            <td>&nbsp;&nbsp;站名&nbsp;&nbsp;</td>
            <td>即时气温 <span class="glyphicon glyphicon-sort"></span></td>
            <td>今日最低 <span class="glyphicon glyphicon-sort"></span></td>
            <td>今日最高 <span class="glyphicon glyphicon-sort"></span></td>
          </tr>
          <!-- <td>离你距离 <span class="glyphicon glyphicon-sort"></span></td> -->
        </thead>
        <tbody>
          <% @statistics.each do |item| %>
            <% if item['name'].eql? '松江' %>
              <tr class="main-station" data="tempe_<%= item['sitenumber'] %>">
            <% elsif item['name'].eql? @real_time_site['name'] %>
              <tr data="tempe_<%= item['sitenumber'] %>" class="tr-station">
            <% else %>
              <tr data="tempe_<%= item['sitenumber'] %>">
            <% end %>
              <td><%= item['name'] %></td>
              <td class="<%= tempe_color item['tempe'] %>"><%= filter(item['tempe']) %></td>
              <td class="<%= tempe_color item['min_tempe'] %>"><%= item['min_tempe'] %></td>
              <td class="<%= tempe_color item['max_tempe'] %>"><%= item['max_tempe'] %></td>
              <!-- <td><%#= item['distance'] %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane main-pane col-xs-12" id="wind">
      <table id="wind_table" class="table table-hover table-striped table-condensed table-fixed-header">
        <thead class="header">
          <tr class="more_word">
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;站名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
            <td>1小时最大 <span class="glyphicon glyphicon-sort"></span></td>
            <td>3小时最大 <span class="glyphicon glyphicon-sort"></span></td>
            <td>6小时最大 <span class="glyphicon glyphicon-sort"></span></td>
            <td>24小时最大 <span class="glyphicon glyphicon-sort"></span></td>
          </tr>
        </thead>
        <tbody>
          <% @statistics.each do |item| %>
            <% if item['name'].eql? '松江' %>
            <tr class="main-station" data="wind_<%= item['sitenumber'] %>">
            <% else %>
            <tr data="wind_<%= item['sitenumber'] %>">
            <% end %>
              <td><%= item['name'] %></td>
              <td>
                <%= item['one_hour_speed'] %>
                <% one_level = speed_to_level item['one_hour_speed'] %>
                <span class="wind_level <%= wind_color one_level %>">
                  <%= one_level %>
                </span>
              </td>
              <td>
                <%= item['three_hour_speed'] %>
                <% three_level = speed_to_level item['three_hour_speed'] %>
                <span class="wind_level <%= wind_color three_level %>">
                  <%= three_level %>
                </span>
              </td>
              <td>
                <%= item['six_hour_speed'] %>
                <% six_level = speed_to_level item['six_hour_speed'] %>
                <span class="wind_level <%= wind_color six_level %>">
                  <%= six_level %>
                </span>
              </td>
              <td>
                <%= item['one_day_speed'] %>
                <% day_level = speed_to_level item['one_day_speed'] %>
                <span class="wind_level <%= wind_color day_level %>">
                  <%= day_level %>
                </span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane main-pane col-xs-12" id="rain">
      <table id="rain_table" class="table table-hover table-striped table-condensed table-fixed-header">
        <thead class="header">
          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;站名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>1小时 <span class="glyphicon glyphicon-sort"></span></td>
            <td>3小时 <span class="glyphicon glyphicon-sort"></span></td>
            <td>6小时 <span class="glyphicon glyphicon-sort"></span></td>
            <td>24小时 <span class="glyphicon glyphicon-sort"></span></td>
          </tr>
        </thead>
        <tbody>
          <% @statistics.each do |item| %>
            <% if item['name'].eql? '松江' %>
            <tr class="main-station" data="rain_<%= item['sitenumber'] %>">
            <% else %>
            <tr data="rain_<%= item['sitenumber'] %>">
            <% end %>
              <td><%= item['name'] %></td>
              <td class="<%= "text-danger" if item['one_hour_rain'].to_i >= 20 %>"><%= item['one_hour_rain'] %></td>
              <td><%= item['three_hour_rain'] %></td>
              <td><%= item['six_hour_rain'] %></td>
              <td class="<%= "text-danger" if item['one_day1_rain'].to_i >= 50 %>"><%= item['one_day1_rain'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane main-pane col-xs-12" id="city">
      <%= render 'city' %>
    </div>
  </div>
</div>
<%= render partial: "temp_help" %>
<%= render partial: "wind_help" %>
<%= render partial: "rain_help" %>
<div id="typhoon_list_d_c3" class="active_list typhoon_list_d_c">
  <div class="typhoon_list_d table-responsive">
    <div class="title">全市实况</div>
    <div>全市实况包含全市68个国家级区域自动站监测的温度、雨量和风，11个国家级观测站的气压、能见度和相对湿度。</div>
  </div>
  <div id="triangle-down"></div>
</div>
<div id="float-window">
  <div class="header"><span class='target-name'></span><i class="pull-right iconfont icon-guanbi"></i></div>
</div>
<div id="myChart">    
</div>
<div id="barChart">
</div>
<script type="text/javascript">
  <!-- // 设置排序图标 -->
  $(function(){
    // 保存当前页面地址，返回时判断使用，防止locate重新进入本页面
    window.sessionStorage.setItem('now_url', window.location.pathname);

    $(".header td").click(function(e) {
      // 重置class
      $(".header td span").removeClass("glyphicon-triangle-bottom glyphicon-triangle-top");
      $(".header td span").addClass("glyphicon-sort");
      // 隐藏图表
      hide_float_window();
      // 设置点击的class
      if (e.target.className === "sorting_desc" || e.target.className === "sorting") {
        $(this).children("span").removeClass("glyphicon-sort glyphicon-triangle-bottom");
        $(this).children("span").addClass("glyphicon-triangle-top");
      } else if (e.target.className === "sorting_asc") {
        $(this).children("span").removeClass("glyphicon-sort glyphicon-triangle-top");
        $(this).children("span").addClass("glyphicon-triangle-bottom");
      } 
    });
  })

  function change_tab(target) {
    if (target == null) {
      $('ul.tab').children('a').each(function(index, el) {
        if ($(el).attr('aria-controls') == _page) {
          $(el).find('li').addClass('active');
        } else {
          $(target).find('li').removeClass('active');    
        }
      });
    } else {
      $('ul.tab').children('a').each(function(index, el) {
        if (el == target) {
          $(el).find('li').css({'color': '#88cc42'});
        } else {
          $(el).find('li').css({'color': '#fff'});
        }
      });
    }
  }

  var type = "tempe"
  $('.tab-bar').on('click', 'a', function(){
    type = $(this).attr('aria-controls');
    if (type == "tempe") {
      $("#typhoon_list_d_c1").addClass('active_list');
      $("#typhoon_list_d_c2").addClass('active_list');
      $("#typhoon_list_d_c3").addClass('active_list');
    }else if (type == "wind"){
      $("#typhoon_list_d_c").addClass('active_list');
      $("#typhoon_list_d_c2").addClass('active_list');
      $("#typhoon_list_d_c3").addClass('active_list');
    }else if (type == "rain"){
      $("#typhoon_list_d_c").addClass('active_list');
      $("#typhoon_list_d_c1").addClass('active_list');
      $("#typhoon_list_d_c3").addClass('active_list');
    } else if (type == "city"){
      $("#typhoon_list_d_c").addClass('active_list');
      $("#typhoon_list_d_c2").addClass('active_list');
      $("#typhoon_list_d_c1").addClass('active_list');
    }
    return type
  });

  // 帮助图例
  $("#help_btn").on('click', function() {
    if (type == "tempe") {
      if ($('#typhoon_list_d_c').hasClass('active_list')) {
        $("#typhoon_list_d_c").removeClass('active_list');
        $("#typhoon_list_d_c").addClass('hide_list');
        return;
      }
      $("#typhoon_list_d_c").removeClass('hide_list');
      $("#typhoon_list_d_c").addClass('active_list');
    }else if (type == "wind"){
      if ($('#typhoon_list_d_c1').hasClass('active_list')) {
        $("#typhoon_list_d_c1").removeClass('active_list');
        $("#typhoon_list_d_c1").addClass('hide_list');
        return;
      }
      $("#typhoon_list_d_c1").removeClass('hide_list');
      $("#typhoon_list_d_c1").addClass('active_list');
    }else if (type == "rain"){
      if ($('#typhoon_list_d_c2').hasClass('active_list')) {
        $("#typhoon_list_d_c2").removeClass('active_list');
        $("#typhoon_list_d_c2").addClass('hide_list');
        return;
      }
      $("#typhoon_list_d_c2").removeClass('hide_list');
      $("#typhoon_list_d_c2").addClass('active_list');
    } else if (type == "city"){
      if ($('#typhoon_list_d_c3').hasClass('active_list')) {
        $("#typhoon_list_d_c3").removeClass('active_list');
        $("#typhoon_list_d_c3").addClass('hide_list');
        return;
      }
      $("#typhoon_list_d_c3").removeClass('hide_list');
      $("#typhoon_list_d_c3").addClass('active_list');
    }
  });

  $(function(){
    var w_height = $(document).height();
    var table_height = w_height - 205;
    $('#tempe_table').dataTable({
      "order": [[ 1, 'asc' ]],
      "searching": false,
      "paging": false,
      "scrollY": table_height,
      "scrollX": true,
      "scrollCollapse": true,
      "info": false,
      "fixedColumns": {
        "leftColumns": 1
      }
    });
    $('#wind_table').dataTable({
      "order": [[ 1, 'desc' ]],
      "searching": false,
      "paging": false,
      "scrollY": table_height,
      "scrollX": true,
      "scrollCollapse": true,
      "info": false,
      "fixedColumns": {
        "leftColumns": 1
      }
    });
    $('#rain_table').dataTable({
      "order": [[ 1, 'desc' ]],
      "searching": false,
      "paging": false,
      "scrollY": table_height,
      "scrollX": true,
      "scrollCollapse": true,
      "info": false,
      "fixedColumns": {
        "leftColumns": 1
      }
    });
  });

  var myChart = null;
  var barChart = null;
  var chart_type = 'line';

  require.config({
    paths: {echarts: '/assets/echarts'}
  });

  require(
    ['echarts','echarts/chart/line'],
    function (ec) {
      $('#myChart').each(function(){
        myChart = ec.init($(this).get(0));
        option = {
          title: {text: "24小时趋势图", textStyle: {color: '#fff'}, x: 'center', y: 10},
          legend: {show: false, data: []},
          grid: {x: 30, y: 50, x2: 10, y2: 30, borderWidth: 0},
          tooltip: {show: true, trigger: 'axis', formatter: "时间: {b}<br/>{a} : {c}"},
          xAxis: [
            {
              type: 'category',
              axisLabel: {textStyle: {color: '#fff'}},
              splitLine: {show: false},
              data: [0,0,0,0,0,0,0,0,0,0,0,0]
            }
          ],
          yAxis: [{
            type: 'value', splitLine: {show: false}, 
            axisLabel: {textStyle: {color: '#fff'}},
            scale: true
          }],
          series: [
            {
              type: 'line', x: '10%', showAllSymbol: true,
              data: [0,0,0,0,0,0,0,0,0,0,0,0]
            }
          ]
        };
        myChart.setOption(option);
      });
    }
  );

  require(
    ['echarts','echarts/chart/bar'],
    function (ec) {
      $('#barChart').each(function(){
        barChart = ec.init($(this).get(0));
        bar_option = {
          title: {text: "24小时趋势图", textStyle: {color: '#fff'}, x: 'center', y: 10},
          legend: {show: false, data: []},
          grid: {x: 30, y: 50, x2: 10, y2: 30, borderWidth: 0},
          tooltip: {show: true, trigger: 'axis', formatter: "时间: {b}<br/>{a} : {c}"},
          xAxis: [
            {
              type: 'category',
              axisLabel: {textStyle: {color: '#fff'}},
              splitLine: {show: false},
              data: [0,0,0,0,0,0,0,0,0,0,0,0]
            }
          ],
          yAxis: [{
            type: 'value', splitLine: {show: false}, 
            axisLabel: {textStyle: {color: '#fff'}},
            scale: true
          }],
          series: [
            {
              type: 'bar', x: '10%', showAllSymbol: true,
              data: [0,0,0,0,0,0,0,0,0,0,0,0]
            }
          ]
        };

        barChart.setOption(bar_option);
      });
    }
  );

  var _top_container_height = $('.top-container').height();
  $(".bottom-container").css({
    top: _top_container_height + 14
  });

  $(".header").css({
    top: _top_container_height + 14
  });

  $("#myChart").hide();
  $("#barChart").hide();

  $("tbody").on('click', 'tr', function(e){
    var _target = $(this).attr('data');
    var _type = _target.split('_')[0];
    var _site = _target.split('_')[1];
    // 改变选中样式
    $("tr").removeClass("tr-active");
    $(this).addClass("tr-active");
    // 加载数据
    get_data(_type, _site);
    $("#float-window").show();
  });

  $("#float-window .iconfont").click(function(e) {
    hide_float_window();
  });

  function hide_float_window() {
    $("#myChart").hide();
    $("#barChart").hide();
    $("#float-window").hide();
  }

  $('.tab-bar').on('click', 'a', function(){
    var type = $(this).attr('aria-controls');
    if (type == 'rain') {
      chart_type = 'bar';
    }else{
      chart_type = 'line';
    }
    change_tab(this);
    hide_float_window();
  });

  function get_data(type, site) {
    $.ajax({
      type: 'get',
      url: '/auto_stations/history',
      headers: {Accept: 'application/json'},
      data: {type: type, sitenumber: site},
      success: function(json) {
        show_chart(json.result);
      },
      fail: function(json) {
        console.log(json);
      }
    });
  }

  function show_chart(data) {
    var _datas = [];
    var _times = [];
    var _type;
    $.each(data, function(i, item){
      if (_type == undefined) {
        _type = item.type  
      }
      _times.push(item.datetime);
      _datas.push(item.data);
    });
    if (_type == '降水') {
      barChart.setOption({
        title: {text: '24小时' + _type + '趋势图'},
        legend: {data: [_type]},
        xAxis: [{data: _times}],
        series: [{name: _type, data: _datas}]
      });  
      $("#barChart").show();
      $("#myChart").hide();
    } else {
      myChart.setOption({
        title: {text: '24小时' + _type + '趋势图'},
        legend: {data: [_type]},
        xAxis: [{data: _times}],
        series: [{name: _type, data: _datas}]
      });  
      $("#barChart").hide();
      $("#myChart").show();
    }
  }
</script>
