<% content_for :title do %>
  气象要素
<% end %>
<div class="row top-container">
  <%= render 'share/topper' %>
</div>
<div class="row bottom-container">
  <%= render 'bottom_bar' %>
  <div class="row tab-content">
    <div role="tabpanel" class="tab-pane col-xs-12 active" id="tempe">
      <table id="tempe-table" class="table table-hover table-striped table-condensed table-fixed-header" role="grid">
        <thead class="header">
          <td>自动站名</td>
          <td>即时气温</td>
          <td>今日最低</td>
          <td>今日最高</td>
          <td>离你距离</td>
        </thead>
        <tbody>
          <% @statistics.each do |item| %>
            <% if item['name'].eql? '松江' %>
            <tr class="main-station" data="tempe_<%= item['sitenumber'] %>">
            <% else %>
            <tr data="tempe_<%= item['sitenumber'] %>">
            <% end %>
              <td><%= item['name'] %></td>
              <td><%= filter(item['tempe']) %></td>
              <td><%= item['min_tempe'] %></td>
              <td><%= item['max_tempe'] %></td>
              <td><%= item['distance'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane col-xs-12" id="wind">
      <table class="table table-hover table-striped table-condensed table-fixed-header">
        <thead class="header">
          <tr>
            <td>自动站名</td>
            <td>1小时</td>
            <td>3小时</td>
            <td>6小时</td>
            <td>24小时</td>
          </tr>
        </thead>
        <tbody>
          <% @statistics.each do |item| %>
            <% if item['name'].eql? '松江' %>
            <tr class="main-station" data="wind_<%= item['sitenumber'] %>">
            <% else %>
            <tr data="wind_<%= item['sitenumber'] %>">
            <% end %>
              <td><%= item['name'] %></td>
              <td><%= item['one_hour_speed'] %></td>
              <td><%= item['three_hour_speed'] %></td>
              <td><%= item['six_hour_speed'] %></td>
              <td><%= item['one_day_speed'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane col-xs-12" id="rain">
      <table class="table table-hover table-striped table-condensed table-fixed-header">
        <thead class="header">
          <tr>
            <td>自动站名</td>
            <td>1小时</td>
            <td>3小时</td>
            <td>6小时</td>
            <td>24小时</td>
          </tr>
        </thead>
        <tbody>
          <% @statistics.each do |item| %>
            <% if item['name'].eql? '松江' %>
            <tr class="main-station" data="rain_<%= item['sitenumber'] %>">
            <% else %>
            <tr data="rain_<%= item['sitenumber'] %>">
            <% end %>
              <td><%= item['name'] %></td>
              <td><%= item['one_hour_rain'] %></td>
              <td><%= item['three_hour_rain'] %></td>
              <td><%= item['six_hour_rain'] %></td>
              <td><%= item['one_day1_rain'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane col-xs-12" id="city">
      <%= render 'city' %>
    </div>
  </div>
</div>
<div id="float-window">
  <div class="header"><span class='target-name'></span><i class="pull-right iconfont icon-guanbi"></i></div>
</div>
<div id="myChart">
    
</div>
<div id="barChart">
  
</div>
<script type="text/javascript">
  function change_tab(target) {
    if (target == null) {
      $('ul.tab').children('a').each(function(index, el) {
        if ($(el).attr('aria-controls') == _page) {
          $(el).find('li').addClass('active');
        } else {
          $(target).find('li').removeClass('active');    
        }
      });
    } else {
      $('ul.tab').children('a').each(function(index, el) {
        if (el == target) {
          $(el).find('li').css({'color': '#88cc42'});
        } else {
          $(el).find('li').css({'color': '#fff'});
        }
      });
    }
  }

  $(function(){
    $('table').dataTable({
      "searching": false,
      "paging": false,
      "info": false
    });
  });
  var myChart = null;
  var barChart = null;
  var chart_type = 'line';

  require.config({
    paths: {echarts: '/assets/echarts'}
  });
  require(
  ['echarts','echarts/chart/line'],
  function (ec) {
    $('#myChart').each(function(){
      myChart = ec.init($(this).get(0));
      option = {
        title: {text: "24小时趋势图", textStyle: {color: '#fff'}, x: 'center', y: 10},
        legend: {show: false, data: []},
        grid: {x: 30, y: 50, x2: 10, y2: 30, borderWidth: 0},
        tooltip: {show: true, trigger: 'axis', formatter: "时间: {b}<br/>{a} : {c}"},
        xAxis: [
          {
            type: 'category',
            axisLabel: {textStyle: {color: '#fff'}},
            splitLine: {show: false},
            data: [0,0,0,0,0,0,0,0,0,0,0,0]
          }
        ],
        yAxis: [{
          type: 'value', splitLine: {show: false}, 
          axisLabel: {textStyle: {color: '#fff'}},
          scale: true
        }],
        series: [
          {
            type: 'line', x: '10%', showAllSymbol: true,
            data: [0,0,0,0,0,0,0,0,0,0,0,0]
          }
        ]
      };

      myChart.setOption(option);
    });
  });

  require(
  ['echarts','echarts/chart/bar'],
  function (ec) {
    $('#barChart').each(function(){
      barChart = ec.init($(this).get(0));
      bar_option = {
        title: {text: "24小时趋势图", textStyle: {color: '#fff'}, x: 'center', y: 10},
        legend: {show: false, data: []},
        grid: {x: 30, y: 50, x2: 10, y2: 30, borderWidth: 0},
        tooltip: {show: true, trigger: 'axis', formatter: "时间: {b}<br/>{a} : {c}"},
        xAxis: [
          {
            type: 'category',
            axisLabel: {textStyle: {color: '#fff'}},
            splitLine: {show: false},
            data: [0,0,0,0,0,0,0,0,0,0,0,0]
          }
        ],
        yAxis: [{
          type: 'value', splitLine: {show: false}, 
          axisLabel: {textStyle: {color: '#fff'}},
          scale: true
        }],
        series: [
          {
            type: 'bar', x: '10%', showAllSymbol: true,
            data: [0,0,0,0,0,0,0,0,0,0,0,0]
          }
        ]
      };

      barChart.setOption(bar_option);
    });
  });

  var _top_container_height = $('.top-container').height();
  $(".bottom-container").css({
    top: _top_container_height + 14
  });
  $(".header").css({
    top: _top_container_height + 14
  });
  $("#myChart").hide();
  $("#barChart").hide();

  $("tbody").on('click', 'tr', function(e){
    var _target = $(this).attr('data');
    var _type = _target.split('_')[0];
    var _site = _target.split('_')[1];
    get_data(_type, _site);
    $("#float-window").show();
  });

  $("#float-window .iconfont").click(function(e) {
    hide_float_window();
  });

  function hide_float_window() {
    $("#myChart").hide();
    $("#barChart").hide();
    $("#float-window").hide();
  }

  $('.tab-bar').on('click', 'a', function(){
    var type = $(this).attr('aria-controls');
    if (type == 'rain') {
      chart_type = 'bar';
    }else{
      chart_type = 'line';
    }
    change_tab(this);
    hide_float_window();
  });

  function get_data(type, site) {
    $.ajax({
      type: 'get',
      url: '/auto_stations/history',
      headers: {Accept: 'application/json'},
      data: {type: type, sitenumber: site},
      success: function(json) {
        show_chart(json.result);
      },
      fail: function(json) {
        console.log(json);
      }
    });
  }
  function show_chart(data) {
    var _datas = [];
    var _times = [];
    var _type;
    $.each(data, function(i, item){
      if (_type == undefined) {
        _type = item.type  
      }
      _times.push(item.datetime);
      _datas.push(item.data);
    });
    if (_type == '降水') {
      barChart.setOption({
        title: {text: '24小时' + _type + '趋势图'},
        legend: {data: [_type]},
        xAxis: [{data: _times}],
        series: [{name: _type, data: _datas}]
      });  
      $("#barChart").show();
      $("#myChart").hide();
    } else {
      myChart.setOption({
        title: {text: '24小时' + _type + '趋势图'},
        legend: {data: [_type]},
        xAxis: [{data: _times}],
        series: [{name: _type, data: _datas}]
      });  
      $("#barChart").hide();
      $("#myChart").show();
    }
  }
</script>
