<% content_for :title do %>
  气象要素
<% end %>
<div class="row top-container">
  <div class="col-xs-12 location-info">
    <%= image_tag 'locate.png', class: 'locate-icon' %>
    <span><%= @real_time_site['name'] %></span>
  </div>
  <div class="row real-time-content">
    <div class="col-xs-4">
      <div class="real-tempe text-center"><%= @real_time_site['tempe'] %>°</div>
      <div class="forecast-tempe text-center">22~26℃</div>
    </div>
    <div class="col-xs-8 right-container">
      <div class="col-xs-6 divide">
        <div class="col-xs-12 right-content"><div class="col-xs-6 text-left">湿度</div><div class="col-xs-6 text-right"><%= @real_time_site['humi'] %>%</div></div>
        <div class="col-xs-12 right-content"><div class="col-xs-6 text-left">西北风</div><div class="col-xs-6 text-right">2级</div></div>
      </div>
      <div class="col-xs-6">
        <div class="col-xs-12 right-content"><div class="col-xs-6 text-left">能见度</div><div class="col-xs-6 text-right"><%= @real_time_site['visibility'] %>m</div></div>
        <div class="col-xs-12 right-content"><div class="col-xs-6 text-left">气压</div><div class="col-xs-6 text-right"><%= @real_time_site['pressure'] %>Pa</div></div>
      </div>
    </div>
  </div>
</div>
<div class="row bottom-container">
  <div class="tab-bar col-xs-12">
    <ul class="col-xs-12 tab">
      <li role="presentation" class="col-xs-3 active"><a href="#tempe" aria-controls="tempe" role="tab" data-toggle="tab"><i class="iconfont icon-wenduji"></i>气温</a></li>
      <li role="presentation" class="col-xs-3"><a href="#wind" aria-controls="wind" role="tab" data-toggle="tab"><i class="iconfont icon-feng"></i>风力</a></li>
      <li role="presentation" class="col-xs-3"><a href="#rain" aria-controls="rain" role="tab" data-toggle="tab"><i class="iconfont icon-my-yu"></i>降水</a></li>
      <li role="presentation" class="col-xs-3"><a href="#city" aria-controls="city" role="tab" data-toggle="tab"><i class="iconfont icon-ditu"></i>全市</a></li>
    </ul>
  </div>
  <div class="row tab-content">
    <div role="tabpanel" class="tab-pane col-xs-12 active" id="tempe">
      <table class="table table-hover table-striped table-condensed table-fixed-header">
        <thead class="header">
          <tr>
            <td>自动站名</td>
            <td>即时气温</td>
            <td>今日最低</td>
            <td>今日最高</td>
            <td>离你距离</td>
          </tr>
        </thead>
        <tbody>
          <% @statistics.each do |item| %>
            <tr data="tempe_<%= item['sitenumber'] %>">
              <td><%= item['name'] %></td>
              <td><%= filter(item['tempe']) %></td>
              <td><%= item['min_tempe'] %></td>
              <td><%= item['max_tempe'] %></td>
              <td>2342</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane col-xs-12" id="wind">
      <table class="table table-hover table-striped table-condensed table-fixed-header">
        <thead class="header">
          <tr>
            <td>自动站名</td>
            <td>1小时</td>
            <td>3小时</td>
            <td>6小时</td>
            <td>24小时</td>
          </tr>
        </thead>
        <tbody>
          <% @statistics.each do |item| %>
            <tr data="wind_<%= item['sitenumber'] %>">
              <td><%= item['name'] %></td>
              <td><%= item['one_hour_speed'] %></td>
              <td><%= item['three_hour_speed'] %></td>
              <td><%= item['six_hour_speed'] %></td>
              <td><%= item['one_day_speed'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane col-xs-12" id="rain">
      <table class="table table-hover table-striped table-condensed table-fixed-header">
        <thead class="header">
          <tr>
            <td>自动站名</td>
            <td>1小时</td>
            <td>3小时</td>
            <td>6小时</td>
            <td>24小时</td>
          </tr>
        </thead>
        <tbody>
          <% @statistics.each do |item| %>
            <tr data="rain_<%= item['sitenumber'] %>">
              <td><%= item['name'] %></td>
              <td><%= item['one_hour_rain'] %></td>
              <td><%= item['three_hour_rain'] %></td>
              <td><%= item['six_hour_rain'] %></td>
              <td><%= item['one_day1_rain'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane col-xs-12" id="city">
      4
    </div>
  </div>
</div>
<div id="float-window">
  <div class="header"><span class='target-name'></span><i class="pull-right iconfont icon-guanbi"></i></div>
</div>
<div id="myChart">
    
</div>

<script type="text/javascript">
  var myChart = null;
  
  require.config({
    paths: {echarts: '/assets/echarts'}
  });
  require(
  ['echarts','echarts/chart/line'],
  function (ec) {
    $('#myChart').each(function(){
      myChart = ec.init($(this).get(0));
      option = {
        title: {text: "24小时趋势图", textStyle: {color: '#fff'}, x: 'center', y: 10},
        grid: {x: 30, y: 50, x2: 10, y2: 30, borderWidth: 0},
        xAxis: [
          {
            type: 'category',
            axisLabel: {textStyle: {color: '#fff'}},
            splitLine: {show: false},
            data: [1,2,3,4,5,6,7,8,9,10]
          }
        ],
        yAxis: [{
          type: 'value', splitLine: {show: false}, 
          axisLabel: {textStyle: {color: '#fff'}},
          scale: true
        }],
        series: [
          {
            type: 'line', x: '10%',
            data : [
              1,2,3,4,5,6,7,8,9,0
            ]
          }
        ]
      };

      myChart.setOption(option);
    });
  });
  var _top_container_height = $('.top-container').height();
  $(".bottom-container").css({
    top: _top_container_height + 14
  });
  $(".header").css({
    top: _top_container_height + 14
  });
  $("tr").on('click', function(e){
    var _target = $(this).attr('data');
    var _type = _target.split('_')[0];
    var _site = _target.split('_')[1];
    get_data(_type, _site);
    $("#float-window").show();
  });

  $("#float-window .iconfont").click(function(e) {
    $("#myChart").hide();
    $("#float-window").hide();
  });
  $("#myChart").hide();
  function get_data(type, site) {
    $.ajax({
      type: 'get',
      url: '/auto_stations/history',
      headers: {Accept: 'application/json'},
      data: {type: type, sitenumber: site},
      success: function(json) {
        show_chart(json.result);
      },
      fail: function(json) {
        console.log(json);
      }
    });
  }
  function show_chart(data) {
    var _datas = [];
    var _times = [];
    $.each(data, function(i, item){
      _times.push(item.datetime);
      _datas.push(item.data);
    });
    myChart.setOption({
      xAxis: [{data: _times}],
      series: [{data: _datas}]
    });
    $("#myChart").show();
  }
</script>
