<!DOCTYPE html>
<html>
<head>
  <title>台风路径实时发布系统</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "#{controller.controller_name}", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "#{controller.controller_name}", media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=1QMYSpByhuxTihG8MGnDxPNivzMmnqA9"></script>
</head>
<body>

  <div class="container-fluid">
		<img style="width:0px;height:0px" src="<%= "http://#{request.host_with_port}/wechat_share.jpg" %>">
    <%= yield %>
  </div>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript"></script>
	<%= render partial: "typhoon/wechat_js" %>
	<script type="text/javascript">
		wx.ready(function () {
			// 设置“分享给朋友”按钮点击状态及自定义分享内容
			wx.onMenuShareAppMessage({
				title: "台风路径实时发布系统",
				desc: "随时了解台风的实时信息",
				link: "<%= typhoon_index_url %>",
				imgUrl: "<%= "http://#{request.host_with_port}/wechat_share.jpg" %>"
			});
			// 设置“分享到朋友圈”按钮点击状态及自定义分享内容
			wx.onMenuShareTimeline({
				title: "台风路径实时发布系统",
				link: "<% typhoon_index_url %>",
				imgUrl: "<%= "http://#{request.host_with_port}/wechat_share.jpg" %>"
			});
      // 分享qq
      wx.onMenuShareQQ({
        title: "台风路径实时发布系统",
				desc: "",
				link: "<%= typhoon_index_url %>",
				imgUrl: "<%= "http://#{request.host_with_port}/wechat_share.jpg" %>"
      });
		});
	</script>
  <%= yield :scripts %>
</body>
</html>
